body  { 
    margin: auto;
    font-family: 'Courier New', Courier, monospace;

    font-size: xx-large;
    font
    line-height: 1.6;
    color: #333;
    background-color: yellow;
    h1 style {
        
    }
    }

}